* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* https://stackoverflow.com/questions/28411499/disable-scrolling-on-body */
}

canvas {
    display: block;
    box-shadow: inset 0 0 0 3px #ff0000; /* https://stackoverflow.com/questions/9601357/placing-border-inside-of-div-and-not-on-its-edge */
}
